@mixin screenLayout {
    width: 60rem;
    height: 30rem;
    border-radius: 5px;
    background-color: var(--bg-color);
    box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
    -webkit-box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
}

@mixin flexProperty {
    display: flex;
    justify-content: center;
    align-items: center;            
}

@mixin loginFormProperty {
    display: flex;
    justify-self: center;
    flex-direction: column;
}

@mixin circleProperty {
    @include flexProperty;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    padding: .2rem;
    margin-top: 2.5rem;                    
    margin-bottom: 2.5rem;                    
    font-size: .7rem;
    font-weight: 400;    
}

@mixin smallContentProperty {
    margin-top: .5rem;
    font-size: .8rem;
    font-weight: 400;
    color: #bec0c5;
}

@mixin buttonProperty {
    border: none;
    background: var(--primary-color);
    height: 1.8rem;
    border-radius: 4px;
    margin-top: 1rem;
    color: var(--bg-color);
    font-weight: 300;
    font-size: .7rem;
    cursor: pointer;
}

@mixin labelProperty {
    font-size: .9rem;
    font-weight: 500;                
    margin-top: 1rem;
}

@mixin inputProperty {
    width: 20rem;
    height: 1.7rem;
    border: .1rem solid var(--main-bg-color);
    border-radius: 4px;
}

@mixin contentLayout {
    width: 6rem;
    height: 5rem;
    border: 0.1rem solid var(--main-bg-color);
    font-size: .6rem;
    font-weight: 200;
    padding: 1rem;
    border-radius: 4px;
    cursor: pointer;

    .icon{
        font-size: 1.2rem;
        color: var(--primary-color);
    }

    .contentTitle{
        font-size: .7rem;
        font-weight: 600;
        margin-top: .5rem;
    }

    .contentBody{
        margin-top: .5rem;
    }
}

@mixin mainContentLayout {
    @include screenLayout;

    .header{
        display: flex;
        flex-direction: column;

        .headerTop{
            @include flexProperty;           
            margin-top: 3rem;

            .title{
                font-size: 1rem;   
                font-weight: 600;
                margin-left: 5px;
            }            
        }

        .headerBottom{            
            .processBar{
                @include flexProperty;
                list-style: none;

                .circleFill{              
                    @include circleProperty;      
                    background-color: var(--primary-color);
                    color:var(--bg-color);                    
                }
                
                .circle{
                   @include circleProperty;
                    border: .1rem solid var(--main-bg-color);                   
                }

                .lineFill{
                    border: 1px solid var(--primary-color);
                    width: 1.5rem;
                }

                .line{
                    border: 1px solid var(--main-bg-color);
                    width: 1.5rem;
                }
            }

        }        
    }

    .mainHeading{
        @include flexProperty;
        flex-direction: column;

        .mainContentHeading{
            font-size: 1.5rem;
            font-weight: 600;
        }

        .mainSmallContent{
            @include smallContentProperty;
        }
    }
}